@import "tailwindcss";


 .slick-slide > div {
  height: 100% !important;
}

.slick-prev::before,
.slick-next::before {
  color: gray !important;       /* Arrow color */
  font-size: 20px !important; 
  
}
.slick-prev:hover::before,
.slick-next:hover::before {
  color: blue !important; 
     /* Change arrow color on hover */
}
.slick-dots {
  margin-top: 10px;
   
}